body {
  background-color:black;
  color:green;
}

.nav a{
  color: grey;
}

.title_font{
  font-family: 'Eczar', serif;
}

.body_font{
  font-family: 'Gentium Basic', serif;
}

.graff_font{
  font-family: 'Sedgwick Ave Display', cursive;
}

.text_shadow {
  text-shadow: .075em .075em .15em  rgb(0, 235, 51);
}

.postdate{
  text-align: center;
}

.postcontent{
  font-size: 2.25em;
}

.centerstage{
  margin-left: auto;
  margin-right: auto;
}

.btn-comment{
  position: absolute;
  right: 0px;
}

.big_font{
  font-size: 3.75em;
}

.nav-hieght{
  height: 4.5em;
}

.margin-text{
  margin-top: 2.25em;
}

.black_bg{
  background: black;
}

.left-nav{
  background: yellow;
  float: left;
}

.absolute{
  position: absolute;
  /* height: 150%; */
}

.nav_options_container {
  width: auto;
  margin-left: auto;
  margin-right: auto;
}




