{% load static %}

<div class="w-container">
    <div class="w-row">
        <div class="w-col w-col-4 align-center">
            <a href="github.com" class="social-icon-link w-inline-block"><img src="{% static 'blog/images/social-github.svg' %}" width="" alt="no image found"></a>
        </div>
        <div class="w-col w-col-4 align-center">
            <a href="instagram.com" class="social-icon-link w-inline-block"><img src="{% static 'blog/images/social-instgram.svg' %}" width="" alt="no image found"></a>   
        </div>
        <div class="w-col w-col-4 align-center">
            <a href="twitter.com" class="social-icon-link w-inline-block"><img src="{% static 'blog/images/social-twitter.svg' %}" width="" alt="no image found"></a>
        </div>
    </div>
</div>