{% extends "base.html" %}
{% block content %}
<div class="container content">
    <h1>Welcome to my traphouse</h1>
    <p>
        Thanks for visiting my {insert domain}! An open source version of OnlyFans. Just kidding. This 
        website is what will be an accumulation of my future (and some past) projects. The 
        core purpose of this site is to serve as a personal hub. For now, it will just my mine.
        As I porgress, I do intend to provide functionality that I found helpful to site users.

        As much as I want to spill out all my plans for the future of this site, this page will 
        outline the approximate current state of the website. Refer below for a break down of the 
        different applications hosted on this site.
    </p>
</div>

{% endblock %}
