<!DOCTYPE html>
{% load static %}
{% load plotly_dash %}
<html>

<head>
  <title>Blog Project</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- MEDIUM STYLE EDITOR -->
  <script src="//cdn.jsdelivr.net/medium-editor/latest/js/medium-editor.min.js"></script>
  <link rel="stylesheet" href="//cdn.jsdelivr.net/medium-editor/latest/css/medium-editor.min.css" type="text/css"
    media="screen" charset="utf-8">
  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com"> <!-- improves performance -->
  <link
    href="https://fonts.googleapis.com/css2?family=Eczar&family=Gentium+Basic&family=Sedgwick+Ave+Display&display=swap"
    rel="stylesheet"
  >
  <!-- Custom CSS -->
  <link rel="stylesheet" href="{% static 'css/blog.css' %}">

</head>
<!-- begin body -->
<body class=''>
  
  <div>
    {%load plotly_dash%}
    {%plotly_app name="SimpleExample"%}
  </div>

  <nav class="navbar nav-hieght black_bg graff_font big_font" id="nav-container">
    <canvas class="absolute" id="matrix"></canvas>
    <div class="container" id="">
      <ul class="nav navbar-nav margin-text">
        <li><a class='big_font grey_text' href="#">"The Feed"</a></li>
        <li><a href="{% url 'about'%}">About - </a></li>
        <li><a href="{% url 'post_list' %}">Blog - </a></li>
        <li><a href="#">Dashboards - </a></li>
        <li><a href="">Rabbit Hole</a></li>
        <li><a href="#"></a></li>
      </ul>
    </div>
    <div>
      <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
        <li><a href="{% url 'post_new' %}">New Post</a></li>
        <li><a href="{% url 'post_draft_list' %}">Drafts</a></li>
        <li><a href="{% url 'logout' %}">Log out</a></li>
        <li><a>Welcome: {{ user.username }}</a></li>
        {% else %}
        <li><a class='nav navbar-right' href="{% url 'login' %}"><span class="glyphicon glyphicon-user"></span></a></li>
        {% endif %}
      </ul>
    </div>
  </nav>
  <!-- The actual blog posts -->
  <div class="content container">
    <div class="row">
      <div class="col-md-8">
        <div class="blog_posts">
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>
  </div>

  <!-- scripts -->
  <script src="{% static 'js/matrix.js' %}"></script>

</body>

</html>