{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}
{% block content %}

<div class="container mt-3 fit_bg dark-blend"
style="background-image: url('{% static 'blog/images/pawel-czerwinski-red_splatter1-unsplash.png' %}'); background-color: #cccccc;}">
    <div class="text-center">
      <h1 class="judus_font ">
        Blog Posts
        <small class="text-muted">Written by Noah Caldwell</small>
      </h1>
    </div>
    {% for post in post_list %}
        <div class="post">
            <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <div class="date">
                <p>Published on: {{ post.published_date|date:"M j, Y"}}</p>
            </div>
            <a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.approve_comments.count }}</a>
        </div>
    {% endfor %}
</div>



{% endblock %}
