{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="text-center">
      <h1>Most Recent Blog Posts</h1>
    </div>
    {% for post in post_list %}
        <div class="post">
            <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <div class="date">
                <p>Published on: {{ post.published_date|date:"D M Y"}}</p>
            </div>
            <a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.approve_comments.count }}</a>
        </div>
    {% endfor %}
</div>

{% endblock %}
