{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="grid-container eighty_vh">
    <div class="graph">
        {% load plotly_dash %}
        {% plotly_app name="flood_graph" %}
    </div>
    <div class="map"></div>
    <div class="weather"></div>
    <div class="fishing"></div>
    <div class="tbd1"></div>
    <div class="tbd2"></div>
    <div class="tbd3"></div>
</div>

<!-- stylesheets that override stylesheet delcared in the 'head' 
portion of html file must be at the bottom. I don't know why. -->
<link rel="stylesheet" href="{% static 'flood_data/css/flood.css' %}">

{% endblock %}