<!DOCTYPE html>
{% load static %}
{% load my_tags %}
<html>

<head>

  <title>Blog Project</title>

  <!-- boostrap compiled & minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com"> <!-- improves performance -->
  <link
    href="https://fonts.googleapis.com/css2?family=Eczar&family=Gentium+Basic&family=Sedgwick+Ave+Display&display=swap"
    rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" type="text/javascript"></script>
  <style>
    @font-face {
      font-family: 'judus';
      src: url("{% static 'base/fonts/judus/judus.woff2' %}") format('woff2'),
      url("(% static 'base/fonts/judus/judus.woff' %}") format('woff'),
      url("(% static 'base/fonts/judus/judus.ttf' %}") format('truetype');
    }
  </style>

  <!-- load some webflow fonts -->
  <script
    type="text/javascript">WebFont.load({ google: { families: ["Lato:100,100italic,300,300italic,400,400italic,700,700italic,900,900italic", "Oswald:200,300,400,500,600,700"] } });</script>


  <!-- MEDIUM STYLE EDITOR -->
  <script src="//cdn.jsdelivr.net/medium-editor/latest/js/medium-editor.min.js"></script>
  <link rel="stylesheet" href="//cdn.jsdelivr.net/medium-editor/latest/css/medium-editor.min.css" type="text/css"
    media="screen" charset="utf-8">

  <!-- webflow CSS -->
  <link href="{% static 'blog/css/normalize.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'blog/css/webflow.css' %}" rel="stylesheet" type="text/css">
  <!-- custom CSS -->
  <link href="{% static 'blog/css/custom.css' %}" rel="stylesheet" type="text/css">
  <!-- terminal input CSS -->
  <link href="{% static 'blog/css/input-terminal.css' %}" rel="stylesheet" type="text/css">

</head>

<body>
  <div data-collapse="none" data-animation="default" data-duration="400" role="banner" class="navbar w-nav">
    <div class="container w-container">
      <nav role="navigation" class="navigation-menu w-nav-menu blog_navigation">
        <!-- basic navigation -->
        <div class="w-layout-grid grid-2">
          <a href="{% url 'post_list' %}" class="navigation-link w-nav-link home-nav-link">Home</a>
          <a href="{% url 'about' %}" class="navigation-link w-nav-link about-nav-link">About</a>
          <a href="contact.html" class="navigation-link w-nav-link contact-nav-link">Contact</a>
          <a href="#" class="topics-nav-dropdown">Topics ⇩</a>
        </div>
      </nav>
      <!-- authenicated blog post management options -->
      {% if user.is_authenticated %}
      <nav role="navigation" class="navigation-menu w-nav-menu user_navigation">
        <div>
          <ul class="nav navbar-nav navbar-right nav_border">
            <li><a class="auth-nav-link" href="{% url 'post_new' %}">New Post</a></li>
            <li><a class="auth-nav-link" href="{% url 'post_draft_list' %}">Drafts</a></li>
            <li><a class="auth-nav-link" href="{% url 'logout' %}">Logout</a></li>
            <li><a class="auth-nav-link">Welcome: {{ user.username }}</a></li>
          </ul>
        </div>
      </nav>
      {% endif %}
      <!-- {% social_navigation %} -->

    </div>
  </div>
  <canvas id="matrix"></canvas>
  <div class="content-wrapper">
    <div class="w-container">
      <div class="w-row">
        <div class="w-hidden-small w-hidden-tiny w-col w-col-3">
          {% sidebar %}
        </div>
        <div class="content-column w-col w-col-9">
          {% block content %} {% endblock %}
        </div>
      </div>
    </div>
  </div>

  <!-- scripts -->
  <script src="{% static 'blog/js/webflow.js' %}" type="text/javascript"></script>
  <script src="{% static 'base/js/matrix.js' %}"></script>

</body>

</html>