
<!DOCTYPE html>
{% load static %}
<html>

<head>

  <title>Blog Project</title>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- MEDIUM STYLE EDITOR -->
  <script src="//cdn.jsdelivr.net/medium-editor/latest/js/medium-editor.min.js"></script>
  <link rel="stylesheet" href="//cdn.jsdelivr.net/medium-editor/latest/css/medium-editor.min.css" type="text/css"
    media="screen" charset="utf-8">

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com"> <!-- improves performance -->
  <link
    href="https://fonts.googleapis.com/css2?family=Eczar&family=Gentium+Basic&family=Sedgwick+Ave+Display&display=swap"
    rel="stylesheet">
  <style>
    @font-face {
        font-family: 'judus';
        src: url("{% static 'base/fonts/judus/judus.woff2' %}") format('woff2'),
          url("(% static 'base/fonts/judus/judus.woff' %}") format('woff'),
          url("(% static 'base/fonts/judus/judus.ttf' %}") format('truetype');
    }
  </style>

  <!-- Custom CSS -->
  <link rel="stylesheet" href="{% static 'base/css/base.css' %}">

</head>

<body class=''>

  <nav class="navbar nav-hieght black_bg graff_font big_font" id="nav-container">
    <canvas class="absolute" id="matrix"></canvas>
    <div class='container'>
      <ul class='nav navbar-nav navbar-left'>
        <!-- {% if user.is_authenticated %}
          <li><a href="{% url 'posts:create' %}" class="btn btn-simple">Post</a></li>
          <li><a href="{% url 'groups:all' %}" class="btn btn-simple">Groups</a></li>
          <li><a href="{% url 'groups:create' %}" class="btn btn-simple">Create Group</a></li>
          <li><a href="{% url 'accounts:social-logout' %}" class="btn btn-simple">Log out</a></li>
        {% else %}
          <li><a href="{% url 'groups:all' %}"class="btn btn-simple">Groups</a></li>
          <li><a href="{% url 'accounts:social-login' %}" class="btn btn-simple">Log in</a></li>
          <li><a href="{% url 'accounts:social-signup' %}" class="btn btn-simple">Sign up</a></li>
        {% endif %} -->
      </ul>
    </div>
    <div class="container nav_options_container">
      <ul class="nav navbar-nav margin-text">
        

        
        <li><a href="{% url 'about'%}">About - </a></li>
        <li><a href="{% url 'post_list' %}">Blog</a></li>
        <!-- <li><a href="Gamble">Gamble</a></li> -->
      </ul>
    </div>
    <div>
      <ul class="nav navbar-nav navbar-right nav_border">
        {% if user.is_authenticated %}
        <li><a href="{% url 'post_new' %}">New Post</a></li>
        <li><a href="{% url 'post_draft_list' %}">Drafts</a></li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
        <li><a>Welcome: {{ user.username }}</a></li>
        {% else %}
        <li><a class='nav navbar-right' href="{% url 'login' %}"><span class="glyphicon glyphicon-user"></span></a></li>
        {% endif %}
      </ul>
    </div>
  </nav>
  <!-- The actual blog posts -->
  <!-- <div class="container content"> -->
      {% block content %}
      {% endblock %}
  <!-- </div> -->

  <!-- scripts -->
  <script src="{% static 'base/js/matrix.js' %}"></script>

</body>

</html>
